<% include ../partials/header %>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiFuS0KDDIEwvyTyPUp_xI-ggvE0uQBk0&libraries=places"></script>
<div class="container text-center">
    <h1>Create a new Place</h1>

    <div class="row justify-content-center text-center">
        <div class="w-50 ">
            <a href="/<%= city %>/places/" class="text-muted mt-3 mb-3">Go Back</a>
            <form action="/<%= city %>/places/" method="POST">
                <div class="form-group mt-1 mb-1">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <div class="form-group mt-1 mb-1">
                    <input class="form-control" type="text" name="image" placeholder="Image adress">
                </div>
                <div class="form-group mt-1 mb-1">
                    <input class="form-control" type="text" name="location" placeholder="Location">
                </div>
                <div class="form-group mt-1 mb-1">
                    <input class="form-control" type="text" name="description" placeholder="Description">
                </div>
                <div class="form-group">
                    <select class="form-control" name="category">
                        <option disabled selected value="Other">Category</option>
                        <option value="Drinks">Drinks</option>
                        <option value="Culture">Culture</option>
                        <option value="Sport">Sport</option>
                        <option value="Restaurant">Restaurant</option>
                        <option value="Other">Other</option>

                    </select>
                </div>
                <div class="form-group mt-1 mb-1">
                    <button type="submit" class="btn btn-lg btn-success mt-1 mb-2">Submit</button>
                </div>

            </form>
        </div>

    </div>


</div>

<% include ../partials/footer %>