<% include ../partials/header %>

    <header class="jumbotron">
        <div class="container"> 
            <h1>Welcome to CityPlaces</h1>
            <p>View our hand-picked places in <%= cityCap %></p>
            <a href="/<%= city %>/places/new" class="btn btn-success">Add new place in <%= cityCap %></a>
        </div>
    </header>


    <div class="row justify-content-center">
        <div class="col-md-5">

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="More interesting places" id="searchExp" aria-describedby="basic-addon2" name="search" oninput="loadPlaces()">
                    <div class="input-group-append">
                        <button class="btn btn-outline-success" onclick="loadPlaces()">
                            <i class="align-middle material-icons">search</i>
                        </button>
                    </div>
                </div>

        </div>

    </div>

    <div id="PlacesList">

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>

        $(document).ready(() => {
            loadPlaces();
        });

        function loadPlaces() {
            $.ajax({
                url: "/<%= city %>/places/getPlaces",
                type: 'GET',
                dataType: 'html',
                data: {'search' : $('#searchExp').val()},
                success: (data) => {
                    document.getElementById("PlacesList").innerHTML = data;
                }
            });
        }
    </script>

<% include ../partials/footer %>