<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiFuS0KDDIEwvyTyPUp_xI-ggvE0uQBk0&libraries=places"></script>
        <title>CityPlaces - App</title>
    </head>
    
    <body>
        

        <div id="landing-header" class="justify-content-center">
            <div class="card mx-auto" style="width:400px; background-color:rgba(255,255,255,0.85);">
                <div class="card-body">
                    <h2 class="card-title">Welcome to CityPlaces!</h2>
                    <br>
                    <% if(error && error.length > 0) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= error %>
                        </div>
                    <% } %>
            
                    <div class="row justify-content-center">
            
                        <div class="input-group mb-3 ml-3 mr-3">
                            <input type="text" class="form-control" placeholder="Search" id="searchTextField" aria-describedby="basic-addon2" name="search">
                        </div>

                        <% if(currentUser) { %>

                            <a class="text-muted pt-0" href="/logout">Logout</a>

                        <% } %>
                
                    </div>
                    
                </div>
            </div>
        </div>


        <% if(!currentUser) { %>

            <div id="landing-header2" class="justify-content-center">
                <div class="card mx-auto" style="width:400px; background-color:rgba(255,255,255,0.85);">
                    <div class="card-body">
                
                        <h6 class="pb-1`">Would You like to</h6>
                            <a  class=" d-inline btn btn-outline-primary" href="/login" >Login</a>               
                        <h6 class="d-inline ">or</h6>
                                <a class="d-inline btn btn-outline-secondary" href="/register">Signup</a>

                    </div>
                </div>
            </div>

        <% } %>

            
            <ul class="slideshow">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>

        </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <script>
            $(document).ready(() => {
                autocomplete();

            });


            function postData(city) {
                var form = document.createElement("form");
                document.body.appendChild(form);
                form.method = "POST";
                form.action = "/";
                var element1 = document.createElement("INPUT");         
                    element1.name="search"
                    element1.value = city;
                    element1.type = 'hidden'
                    form.appendChild(element1);
                    form.submit();
            }

            function autocomplete() {

                var input = document.getElementById('searchTextField');
                var autocomplete = new google.maps.places.Autocomplete(input);  
                autocomplete.setTypes(['(cities)']);

                google.maps.event.addListener(autocomplete, 'place_changed', function() {
                    var result = autocomplete.getPlace();
                    if(typeof result.address_components == 'undefined') { //user clicked enter without selecting city from the list
                        autocompleteService = new google.maps.places.AutocompleteService(); //retrieving Autocomplete predictions
                        autocompleteService.getPlacePredictions(
                            {
                                'input': result.name,
                                //The character position in the input term at which the service uses text for predictions (the position of the cursor in the input field)
                                'offset': result.name.length,
                                'types': ['(cities)']
                            },
                            (list, status) => { // listen to result
                                if(list == null || list.length == 0) {
                                    alert("No results");
                                } else {
                                    // get first result
                                    let placesService = new google.maps.places.PlacesService(document.getElementById('searchTextField'));
                                    placesService.getDetails(
                                        {'reference': list[0].reference},
                                        (detailsResult, placesServiceStatus) => { //details results -> get first result
                                            $('#searchTextField').val(detailsResult.formatted_address);
                                            postData(detailsResult.formatted_address);
                                        }
                                    );
                                }
                            }
                        );
                    } else {
                        //user selected a result from the list
                        postData(result.formatted_address);
                    }
                });
            }
            

            
        </script>
    </body>
</html>