<% include partials/header %>

    <h1>This is the show template</h1>

    <p><%= place.name %></p>

    <img src="<%= place.image %>">

    <p><%= place.description %></p>

<% include partials/footer %>